* {
  box-sizing: border-box;
}
body {
  font-family: "Palanquin", sans-serif;
  line-height: 1.618em;
  background: #3498db;
  color: #fff;
}

.wrap {
  max-width: 50rem;
  width: 100%;
  margin: 5rem auto;
  text-align: center;
}
/* loading... */
h1.loading {
  font-size: 3em;
  font-weight: 400;
}

.loading span:first-child {
  animation: dot 2s linear infinite;
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.loading span:nth-child(2) {
  animation: dot2 2s linear infinite;
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.loading span:last-child {
  animation: dot3 2s linear infinite;
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* bouncing ball */
.bouncing_ball {
  height: 12rem;
  width: 4rem;
  margin: 0 auto;
  /* border: 1px solid #ddd; */
  position: relative;
}

.ball {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  animation: bbounce 1s infinite;
}

@keyframes bbounce {
  0% {
    top: 0rem;
    animation-timing-function: ease-in;
  }
  34% {
    transform: scale(1);
  }
  35% {
    top: 8rem;
    transform: scale(1.2, 0.8);
    animation-timing-function: ease-out;
  }
  45% {
    transform: scale(1);
  }

  100% {
    top: 0rem;
  }
}

/* spinner */

.spinner {
  /* border: 1px solid #ddd; */
  width: 6rem;
  height: 6rem;
  margin: 3rem auto;
  position: relative;
}

div[class^="curve"] {
  position: absolute;
  transform: rotate(135deg);
  animation: spin 4s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(135deg);
  }
  25% {
    opacity: 0.7;
  }
  50% {
    transform: rotate(675deg);
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(135deg);
  }
}

.curve_top_left {
  width: 3rem;
  height: 3rem;
  left: 0;
  top: 0;
  border-left: 0.5rem solid #fff;
  border-top: 0.5rem solid #fff;
  border-top-left-radius: 100%;
  transform-origin: 100% 100%;
}

.curve_bottom_right {
  width: 3rem;
  height: 3rem;
  right: 0;
  bottom: 0;
  border-bottom: 0.5rem solid #fff;
  border-right: 0.5rem solid #fff;
  border-bottom-right-radius: 100%;
  transform-origin: 0% 0%;
}

.curve_top_right {
  width: 2rem;
  height: 2rem;
  left: 50%;
  bottom: 50%;
  border-right: 0.5rem solid #fff;
  border-top: 0.5rem solid #fff;
  border-top-right-radius: 100%;
  transform-origin: 0% 100%;
}

.curve_bottom_left {
  width: 2rem;
  height: 2rem;
  right: 50%;
  top: 50%;
  border-left: 0.5rem solid #fff;
  border-bottom: 0.5rem solid #fff;
  border-bottom-left-radius: 100%;
  transform-origin: 100% 0%;
}

.center_circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
