body {
  font-family: "Palanquin", sans-serif;
  line-height: 1.618em;
  background: #3498db;
  color: #fff;
}

.wrap {
  max-width: 50rem;
  width: 100%;
  margin: 5rem auto;
  text-align: center;
}

h1.loading {
  font-size: 3em;
  font-weight: 400;
}

.loading span:first-child {
  animation: dot 2s linear infinite;
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.loading span:nth-child(2) {
  animation: dot2 2s linear infinite;
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.loading span:last-child {
  animation: dot3 2s linear infinite;
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
