.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border: 1px solid blue;
}

.bigbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
  width: 100px;
  height: 100px;
}

.smallbox {
  border: 1px solid tomato;
  width: 80%;
  height: 80%;
}
