/*// BASE STYLES //*/

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/
.mario {
  position: absolute;
  width: 90px;
  top: -30px;
  animation-name: drive;
  /* Keyframe 시간 */
  animation-duration: 3s;
  animation-fill-mode: both;
  /* animation-delay: 2s; */
  /* 계속 순환 animation*/
  animation-iteration-count: infinite;
  /* 완화 빠름 완화 */
  /* animation-timing-function: ease-in-out; */
  animation-timing-function: cubic-bezier(0, 0.77, 1, 0.28);
}

.luigi {
  position: absolute;
  width: 90px;
  top: 100px;
  animation-name: drive;
  animation-duration: 5s;
  /* forwards,backwards */
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* animation shorthand */
.cloud {
  position: absolute;
}
.cloud:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 10s linear infinite reverse;
}
.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  animation: wind 5s linear infinite reverse;
}

/*// KEYFRAMES //*/

@keyframes drive {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1000px);
  }
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}
